.badge {
    color: var(--jaguar-200);
    font-family: inherit;
    font-size: var(--font-size-12);
    font-style: normal;
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-18);

    border: none;
    outline: none;
    padding: 0 var(--space-12);
    align-items: center;
    width: max-content;
}

.sign-badge {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.2rem;
    margin-right: 0.6rem;
}

.badge-rounded {
    border-radius: var(--border-radius-8);
}

.badge-circle {
    border-radius: var(--border-radius-40);
}

/*No Background*/
.badge-primary {
    color: var(--primary-600);
}

.badge-sunglow {
    color: var(--sunglow-700);
}

.badge-green {
    color: var(--green-600);
}

.badge-blue {
    color: var(--dodger-blue-600);
}

.badge-red {
    color: var(--red-orange-600);
}

.badge-purple {
    color: var(--purple-600);
}

.badge-grey {
    color: var(--jaguar-400);
}

/* No Background */

.badge-primary {
    color: var(--primary-600);
}

.badge-sunglow {
    color: var(--sunglow-700);
}

.badge-green {
    color: var(--green-600);
}

.badge-blue {
    color: var(--dodger-blue-600);
}

.badge-red {
    color: var(--red-orange-600);
}

.badge-purple {
    color: var(--purple-600);
}

.badge-grey {
    color: var(--jaguar-400);
}

/* Light Bacground */

.badge-primary.badge-light-badge {
    background-color: var(--primary-50);
}

.badge-sunglow.badge-light-badge {
    background-color: var(--sunglow-50);
}

.badge-green.badge-light-badge {
    background-color: var(--green-50);
}

.badge-blue.badge-light-badge {
    background-color: var(--dodger-blue-50);
}

.badge-red.badge-light-badge {
    background-color: var(--red-orange-50);
}

.badge-purple.badge-light-badge {
    background-color: var(--purple-50);
}

.badge-grey.badge-light-badge {
    background-color: var(--jaguar-50);
}
/*Stroke*/
.badge-primary.badge-stroke {
    border: 1px solid var(--primary-200);
    background-color: var(--primary-25);
}

.badge-sunglow.badge-stroke {
    border: 1px solid var(--sunglow-200);
    background-color: var(--sunglow-25);
}

.badge-green.badge-stroke {
    border: 1px solid var(--green-200);
    background-color: var(--green-25);
}

.badge-blue.badge-stroke {
    border: 1px solid var(--dodger-blue-200);
    background-color: var(--dodger-blue-25);
}

.badge-red.badge-stroke {
    border: 1px solid var(--red-orange-200);
    background-color: var(--red-orange-25);
}

.badge-purple.badge-stroke {
    border: 1px solid var(--purple-200);
    background-color: var(--purple-25);
}

.badge-grey.badge-stroke {
    border: 1px solid var(--jaguar-200);
    background-color: var(--jaguar-25);
}
