.side-bar {
    width: 100%;
    height: 100vh;
}

.side-bar__logo-wrapper {
    padding: var(--space-30);
}

.side-bar svg {
    fill: var(--primary-500);
    /* stroke: red; */
}

.side-bar .active {
    color: var(--primary-500);
}
