.forgot-password {
    display: flex;
    padding: var(--None, 0px);

    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.forgot-password__email {
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    grid-column: 1/2;
}

.instruction-button {
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
