/* .password-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    background-color: blueviolet;
} */

.password-wrapper__form {
    padding: var(--space-50);
    display: flex;
    align-items: center;
    justify-content: center;
}
.password-wrapper__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-50);
    flex-basis: 57rem;
}
